@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

p, a, ol, ul, li, h1, h2, h3, h4, h5 ,h6, figcaption {
  font-family: "Noto Sans TC", sans-serif !important;
}